@import './base';

.section4 {
  width: 100%;
  height: 1080px;
  @include flex-center;

  .inner {
    width: 1620px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .section4_image {
      width: 790px;
    }

    .section4_text {
      width: 583px;

      .section4_label {
        @include label1;
        display: block;
        margin-bottom: 17px;
      }
      .section4_title {
        @include header3;
        font-size: 4rem;
        margin-bottom: 42px;
        @include highlight-text;
      }
      .section4_description {
        @include paragraph2;
        width: 536px;
      }
    }
  }
}
