@import './base';

.section6 {
  width: 100%;
  height: 1080px;
  @include flex-center;

  .inner {
    width: 1620px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .section6_image {
      width: 820px;
    }

    .section6_text {
      width: 583px;

      .section6_label {
        @include label1;
        display: block;
        margin-bottom: 17px;
      }
      .section6_title {
        @include header3;
        margin-bottom: 42px;
        @include highlight-text;
      }
      .section6_description {
        @include paragraph2;
        width: 536px;
      }
    }
  }
}
