@import './base';

.section1 {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  height: 1080px;
  position: relative;
  background: linear-gradient(180deg, #FFD100 0%, #F9FAFB 70.67%);

  .section1_symbol {
    width: 300px;
    height: auto;
    margin-bottom: 25px;
  }

  .section1_title {
    @include header2;
    color: $font-main-black;
    margin-bottom: 26px;
  }

  .section1_description {
    display: block;
    font-size: 34px;
    font-weight: 200;
    color: $font-gray600;
    text-align: center;
  }

  .section1_arrow_down {
    width: 68px;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: float 2s ease-in-out infinite;
  }
}

@keyframes float {
  0%   { transform: translate(-50%, 0); }
  50%  { transform: translate(-50%, -10px); }
  100% { transform: translate(-50%, 0); }
}
